.navUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.links {
  display: inline-block;
  margin: 1% 1% 1% 1%;

}
.navBar {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  
}